<form>
  <input type="text" placeholder="week" name="week_num" value="1">
  <input type="text" placeholder="challenge" name="challenge_num">
  <input type="text" placeholder="name" name="student_name" value="field">
  <input type="submit" value="Submit">
</form>

<div id="link-container">
</div>
