<form action="/links" method="GET">
    <input type="text" placeholder="week" name="week_num">
    <input type="text" placeholder="challenge" name="challenge_num">
    <input type="text" placeholder="name" name="student_name">
    <input type="submit" value="Submit">
  </form>

<%if @params.length > 1 %>
<%= @params %>
<%end%>
